*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
:root{
    /* Background Colour */
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #fc5d8a;
    /* Text Color */
    --text-primary-color: #f0f0f0;
    /* Border Primary Color */
    --border-primary-color: #383838;
    /* Spacing */
    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-xxl:40px;
    --space-xxxl:48px;
}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}
main,section{
    width: 100%;
    height: 100%;
}
section{
    padding: 0 var(--space-xxxl);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.infos{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.infos .info{
    border: 2px solid var(--text-primary-color);
    border-radius: 10px;
    padding: var(--space-sm) var(--space-md);
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px,1fr));
}

.block{
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-primary-color);
}

.fill{
    background-color: var(--bg-fill-color);
}

.goal{
    background-color: rgb(255, 52, 52);
}

.model{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #0c0c0cc8;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.model .start-game,
.model .game-over{
    width: 500px;
    height: 200px;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(39, 39, 39);
    gap: 20px;
}

.model .start-game h3,
.model .game-over h3{
    font-size: 30px;
}
.model .start-game .btn-start,
.model .game-over .btn-restart{
    width: 100px;
    height: 30px;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    font-size: 20px;
}

.hide{
    display: none;
}

.model .game-over {
    display: none;
}